<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MyTaxi</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{js/main.js}"></script>
    <script th:src="@{js/login.js}"></script>
</head>
<body onload="loadMain();loadLogin();">

<th:block th:insert="~{/_menu.html}"></th:block>


<div class="login-panel">
    <h1 id="h1-login-to-mytaxi">Login to MyTaxi</h1>
    <img id="info" th:src="@{images/info.png}" alt="info"/>

    <div th:if="${param.error}">
        <p class="error-message" style="position: absolute; top: 14%; left: 20%;">Invalid username or password. Please try again.</p>
    </div>

    <form class="login-form" method="POST" action="/process_login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <!-- This field must be called 'username', otherwise Spring Security will not find username -->
            <input class="input-fields" type="text" id="login-input" name="username" placeholder="Email">
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <input class="input-fields" type="password" id="password-input" name="password" placeholder="Password">
        </div>

        <button type="submit" class="login-submit">Login</button>

        <div style="margin-top: 20px;">
            <span id="register-span" class="under-login-span">Register</span>
        </div>
    </form>

</div>

</body>
</html>