<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Order</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/driver.js}"></script>
</head>
<body onload="loadDriver();">
<th:block th:insert="~{/_menu_logged.html}"></th:block>
<div id="trip-info-panel">
    <h3 id="trip-info-title" th:text="${order.getOrderStatus().show()}"></h3>

    <!-- Info about the user and the trip -->
    <div id="trip-info">
        <h4>Passenger Name: <span th:text="${passengerName}"></span></h4>
        <h4>Phone number: <span th:text="${passengerPhoneNumber}"></span></h4>
        <h4>Passenger Rating: <span th:text="${#numbers.formatDecimal(client.getRating(), 1, 1)}"></span></h4>
        <h4>Message: <span th:text="${order.getBookingNotes()}"></span></h4>
        <h4>Pickup Address: <span style="color: darkorange" th:text="${order.getPickupAddress()}"></span></h4>
        <h4>Destination Address: <span style="color: darkorange" th:text="${order.getDestinationAddress()}"></span></h4>
        <h4>Distance: <span th:text="${order.getJourneyDistance()}"></span></h4>
        <h4>Price: <span th:text="${order.getPrice()}"></span> ₴</h4>
    </div>
    <form class="update-status-form" th:action="@{/driver/orders/__${hash}__/updateStatus}" th:method="POST">
        <input type="hidden" th:name="passengerName" th:value="${passengerName}">
        <input type="hidden" th:name="passengerPhoneNumber" th:value="${passengerPhoneNumber}">
        <input type="hidden" th:name="clientId" th:value="${client.getClientId()}">
        <input type="hidden" th:name="userId" th:value="${user.getUserId()}">
        <input id="update-status-btn" type="submit" th:value="${order.getOrderStatus().next().show()}"/>
    </form>
</div>
</body>
</html>