@font-face {
    font-family: "Chakra";
    src: url("../fonts/Chakra.ttf") format("truetype");
    /* You can add additional font formats here if needed */
}
body {
    background: #1F1B30;
}
#h1-mytaxi {
    margin-left: 40px;
    cursor: pointer;
}

#h1-login-to-mytaxi {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 35px;
}

.h3-head-buttons {
    font-family: Chakra, sans-serif;
    color: snow;
    display: inline-block;
    margin-left: 20px;
    margin-right: 1em;
    cursor: pointer;
    background: darkorange;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    font-family: Chakra, sans-serif;
    color: snow;
}
h2 {
    font-family: Chakra, sans-serif;
    color: snow;
}

.greetings {
    font-family: Chakra, sans-serif;
    color: snow;
    margin-right: 20px;
}

.login-form {
    position: absolute;
    left: 32%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-panel {
    background-color: rgba(72, 61, 139, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 600px;
    height: 350px;
    border-radius: 20px;
}

.input-label {
    font-family: Chakra, sans-serif;
    color: snow;
    font-size: 20px;
}

.input-fields {
    background: #1F1B30;
    color: snow;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    height: 15px;
    margin-bottom: 10px;
}

.login-submit {
    background-color: darkslateblue;
    cursor: pointer;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Chakra, sans-serif;
}

.under-login-span {
    cursor: pointer;
    padding: 10px;
    font-family: Chakra, sans-serif;
    color: darkorange;
}

.main-header {
    background: darkslateblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field {
    margin-bottom: 10px;
}

.form-field input {
    display: block;
    margin-top: 5px;
}

#map {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 60%;
    top: 5%;
    height: 90%;
    width: 600px;
    border-radius: 20px;
}

#info {
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 10px;
}

.estimated-price {
    font-family: Chakra, sans-serif;
    color: snow;
}


input[type="checkbox"] {
    appearance: none;
    border: 2px solid darkorange;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    outline: none;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
}

input[type="checkbox"]:checked:before {
    content: '';
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid darkorange;
    border-width: 0 2px 2px 0;
}

#map {
    width: 500px;
    height: 320px;
    border: 5px solid #1F1B30;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

