<div class="rate-the-trip-panel" id="trip-info-panel">
  <img id="close" onclick="closeTripRatingMenu();" th:src="@{/images/close.png}" alt="close"/>
  <h3 class="rate-the-trip-title" th:text="'Rate This Trip:'"></h3>
  <div class="rating">
    <button id="rating1" class="rating-button">1</button>
    <button id="rating2" class="rating-button">2</button>
    <button id="rating3" class="rating-button">3</button>
    <button id="rating4" class="rating-button">4</button>
    <button id="rating5" class="rating-button">5</button>
  </div>
</div>
<div id="overlay"></div>