<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Taxi</title>
    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsAPIKey} + '&libraries=places&callback=initMap&v=weekly'}" async defer></script>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <script th:src="@{js/main.js}"></script>
    <script th:src="@{js/order.js}"></script>
</head>
<body onload="loadMain();modifyPageAccordingToTheOrderInfo();initMap();">
<th:block th:insert="~{/_menu_logged.html}"></th:block>

<div id="order-form" class="login-panel" style="top: 500px; left: 50%; height: 70%; width: 90%;min-height: 580px; z-index: 5;">
    <h1 id="h1-login-to-mytaxi">Order</h1>
    <img id="info" style="right: unset" th:src="@{images/info.png}" alt="info"/>

    <!--<div style="color:red" th:object="${order}" th:if="${#fields.hasErrors('pickupAddress')}" th:errors="*{pickupAddress}"></div>-->
    <form class="order-form" th:action="@{/createNewOrder}" th:object="${order}" method="post">
        <!-- Error in case if client already has active order -->
        <!-- TODO: Yeah, that's definitely not the best way, needs to reject hasActiveOrder-->
        <div class="error-message" style="font-size: 25px; font-weight: bold;" th:if="${#fields.hasErrors('orderStatus')}" th:errors="*{orderStatus}"></div>
        <table>
            <!-- Booking datetime field -->
            <tr class="form-field">
                <td><label for="datetime-input" class="input-label">Booking Date/Time:</label></td>
                <td>
                    <div class="error-message" th:if="${#fields.hasErrors('bookingDatetime')}" th:errors="*{bookingDatetime}"></div>
                    <input class="input-fields" type="datetime-local" id="datetime-input" th:field="*{bookingDatetime}" name="booking_datetime">
                </td>
            </tr>

            <!-- Pickup address field -->
            <tr class="form-field">
                <td><label for="pickup-input" class="input-label">Pickup Address:</label></td>
                <td>
                    <div class="error-message" th:if="${#fields.hasErrors('pickupAddress')}" th:errors="*{pickupAddress}"></div>
                    <input class="input-fields" type="text" id="pickup-input" th:field="*{pickupAddress}" name="pickup_address">
                </td>
            </tr>

            <!-- Destination address field -->

            <tr class="form-field">
                <td><label for="destination-input" class="input-label">Destination Address:</label></td>
                <td>
                    <div class="error-message" th:if="${#fields.hasErrors('destinationAddress')}" th:errors="*{destinationAddress}"></div>
                    <input class="input-fields" type="text" id="destination-input" th:field="*{destinationAddress}" name="destination_address">
                </td>
            </tr>

            <!-- ... -->
            <tr>
                <td colspan="2">
                    <div>
                        <label for="order-for-another-person" style="color: darkorange; font-family: Chakra, sans-serif;">
                    Order for another person
                        </label>
                        <input type="checkbox" id="order-for-another-person" name="order-for-another-person" class="error-message" th:checked="${#fields.hasErrors('passengerName')} or ${#fields.hasErrors('passengerPhoneNumber')}">
            </div>
                </td>
            </tr>


            <!-- Passenger name field -->

            <tr class="form-field" id="passenger-name-row" th:classappend="${#fields.hasErrors('passengerName')}? 'has-error' : ''" hidden>
                <td><label for="passenger-name-input" class="input-label">Passenger Name:</label></td>
                <td>
                    <div class="error-message" th:if="${#fields.hasErrors('passengerName')}" th:errors="*{passengerName}"></div>
                    <input class="input-fields" type="text" id="passenger-name-input" placeholder="Passenger name" th:field="*{passengerName}" name="passenger_name">
                </td>
            </tr>

            <!-- Passenger phone number field -->
            <tr class="form-field" id="passenger-phone-row" th:classappend="${#fields.hasErrors('passengerPhoneNumber')}? 'has-error' : ''" hidden>
                <td><label for="passenger-phone-input" class="input-label">Passenger Phone Number:</label></td>
                <td>
                    <div class="error-message" th:if="${#fields.hasErrors('passengerPhoneNumber')}" th:errors="*{passengerPhoneNumber}"></div>
                    <input class="input-fields" type="text" id="passenger-phone-input" placeholder="Passenger phone number" th:field="*{passengerPhoneNumber}" name="passenger_phone_number">
                </td>
            </tr>


            <!-- Booking notes field -->

            <tr class="form-field">
                <td><label for="note-input" class="input-label">Notes:</label></td>
                <td>
                    <div class="error-message" th:if="${#fields.hasErrors('bookingNotes')}" th:errors="*{bookingNotes}"></div>
                    <input class="input-fields" type="text" id="note-input" th:field="*{bookingNotes}" name="booking_notes" placeholder="Some special request?">
                </td>
            </tr>

            <tr class="form-field">
                <td><label class="input-label">Vehicle Type:</label></td>
                <td>
                    <select th:field="*{vehicleType}" name="vehicle-type" class="custom-select">
                        <option th:each="vehicleType : ${T(mytaxi.partola.models.VehicleType).values()}"
                                th:value="${vehicleType}" th:text="${vehicleType}"></option>
                    </select>
                </td>
            </tr>

            <!-- Payment type field -->

            <tr class="form-field">
                <td><label class="input-label">Payment Type:</label></td>
                <td>
                    <div class="payment-type">
                        <input type="radio" id="payment-type-cash" th:field="*{paymentType}" name="payment_type" value="CASH">
                        <label for="payment-type-cash">Cash</label>
                    </div>
                    <div class="payment-type">
                        <input type="radio" id="payment-type-card" th:field="*{paymentType}" name="payment_type" value="CARD">
                        <label for="payment-type-card">Card</label>
                    </div>
                </td>
            </tr>

            <tr class="form-field">
                <td><label class="input-label">Car Class:</label></td>
                <td>
                    <div class="payment-type">
                        <input type="radio" id="car-class-economy" th:field="*{carClass}" name="car_class" value="ECONOMY"
                               th:onclick="'handleCarClassSelection(' + ${client.getBonusAmount()} + ', this)'">
                        <label for="car-class-economy">Economy</label>
                    </div>
                    <div class="payment-type">
                        <input type="radio" id="car-class-business" th:field="*{carClass}" name="car_class" value="BUSINESS"
                               th:onclick="'handleCarClassSelection(' + ${client.getBonusAmount()} + ', this)'">
                        <label for="car-class-business">Business</label>
                    </div>
                </td>
            </tr>

            <!-- Estimated price field -->

            <tr class="form-field">
                <td><label for="price" class="input-label">Estimated price:</label></td>
                <td class="estimated-price"><span id="display-price">0</span> ₴</td>
                <input type="hidden" id="price" th:field="*{price}" />
            </tr>

            <!-- Pay with bonuses field -->
            <tr class="form-field">
                <td><label for="pay-with-bonuses" style="color: darkorange; font-family: Chakra, sans-serif;">Pay with bonuses:</label></td>
                <td>
                    <input type="checkbox" id="pay-with-bonuses" th:field="*{payWithBonuses}" style="cursor: pointer" name="pay_with_bonuses"
                           th:onclick="'subtractBonuses(' + ${client.getBonusAmount()} + ')'">
                </td>
            </tr>

            <input type="hidden" id="journey-distance" th:field="*{journeyDistance}">
        </table>

        <button style="margin-top: 30px; margin-left: 13px" type="submit" class="login-submit">Order</button>
    </form>
    <div id="map"></div>
</div>
</body>
</html>